/****** Main Styling ******/

body {
  background: #F2F2F2;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
  font-size: 16px;
  line-height: 1.42857143;
  color: #595959;
	text-align: left;
}

.container {
  width: 950px;
	padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
	margin-top: 40px;
 	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-sizing: border-box;
}

.blockquote{
  font-weight: 300;
  line-height: 1.42em;
  color:#595959;
  background-color:#CCCCCC;
  margin: 10px;
  padding:10px;
}

.div {
    display: block;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color:#F2F2F2;
  background-color: #7F7F7F;
  text-align: center;
}

code{
  display: block;
  background-color: #595959;
  color: #F2F2F2;
  font-family: Courier, 'New Courier', monospace;
  font-size: 14px;
  word-wrap: break-word;
  margin: 10px;
  padding:10px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
  text-align: left;
}

a:link {
    color: Bisque;
}

a:visited {
    color: Bisque;
}

a:hover {
    color: CornflowerBlue;
}

a:active {
    color: CornflowerBlue;
}


/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}
